{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <p>Let's talk! Here is how you can contact us:</p>
    <p>
        <i class="fas fa-envelope"></i>&nbsp;&nbsp;contact at mageontheroad.com<br/>
        <i class="fab fa-twitter"></i>&nbsp;&nbsp;<a href="https://twitter.com/MageOnTheRoad" target="_blank">@MageOnTheRoad</a>
    </p>
{# @TODO: ADD SPOTIFY LINK #}
{#    <p>#}
{#        <i class="fab fa-spotify"></i> <a href="https://spotify.com" target="_blank">Subscribe on Spotify!</a>#}
{#    </p>#}
{% endblock %}
