{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
    <h1>Page not found</h1>
    <p>Unfortunately this page does not exist. <a href="{{ block.getBaseUrl() }}">Go to home page </a></p>
{% endblock %}
